@using static ICook.Common.GlobalConstants
@using static ICook.Common.ApplicationMessages

@model IndexViewModel

@{
	this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-6">Welcome to @SystemName!</h1>
	<hr />

	@if (this.TempData.ContainsKey(SuccessMessage))
	{
		<div class="alert alert-success">@this.TempData[SuccessMessage]</div>
	}

	<h4>Our website has:</h4>

	<div class="col-md-4 offset-md-4">
		<ul class="list-group">
			<li class="list-group-item bg-secondary bg-opacity-25">Recipes: @Model.RecipesCount</li>
			<li class="list-group-item">Categories: @Model.CategoriesCount</li>
			<li class="list-group-item bg-secondary bg-opacity-25">Ingredients: @Model.IngredientsCount</li>
			<li class="list-group-item">Images: @Model.ImagesCount</li>
		</ul>
	</div>
</div>
