@using static ICook.Common.GlobalConstants
@using static ICook.Common.ApplicationMessages

@model IndexViewModel

@{
	this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-6">Welcome to @SystemName!</h1>
	<hr />

	@if (this.TempData.ContainsKey(SuccessMessage))
	{
		<div class="alert alert-success">@this.TempData[SuccessMessage]</div>
	}
	else if (this.TempData.ContainsKey(ErrorMessage))
	{
		<div class="alert alert-danger">@this.TempData[ErrorMessage]</div>
	}

	<h4>Our website has:</h4>

	<div class="col-md-4 offset-md-4">
		<ul class="list-group">
			<li class="list-group-item bg-secondary bg-opacity-25">Recipes: @Model.RecipesCount</li>
			<li class="list-group-item">Categories: @Model.CategoriesCount</li>
			<li class="list-group-item bg-secondary bg-opacity-25">Ingredients: @Model.IngredientsCount</li>
			<li class="list-group-item">Images: @Model.ImagesCount</li>
		</ul>
	</div>

	<div class="mt-5"></div>
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			@for (int i = 0; i < Model.Recipes.Count(); i++)
			{
				var currentRecipe = @Model.Recipes[i];
				<div class="carousel-item @(i == 0 ? "active" : string.Empty)">
					<img style="width: 88%; height: 600px; object-fit: cover;" src="@currentRecipe.ImageUrl" alt="@currentRecipe.Name">
					<div class="carousel-caption d-none d-md-block">
						<h5>
							<a class="btn btn-outline-primary" asp-controller="Recipe" asp-action="Details"
							   asp-route-id="@currentRecipe.Id"> @currentRecipe.Name</a>
						</h5>
					</div>
				</div>
			}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
