@model RecipePageViewModel

@{
	this.ViewData["Title"] = "All Recipes";
}

<div class="text-center">
	<h1 class="display-6">@this.ViewData["Title"]</h1>
	<hr />
</div>

<div class="row">
	@foreach (var recipe in this.Model.AllRecipes)
	{
		<div class="media col-md-3 mb-3">
			<img class="mr-3 img-fluid" src="@recipe.ImageUrl" style="height: 250px; object-fit: cover;">
			<div class="media-body">
				<h5 class="mt-0">@recipe.Name</h5>
				@recipe.CategoryName
			</div>
		</div>
	}
</div>

<partial name="_PaginationPartial" model="@Model" />