@model RecipeDetailsViewModel

@{
	this.ViewData["Title"] = "Recipe Details";
}

<div class="text-center">
    <h1 class="display-6">@this.ViewData["Title"]</h1>
</div>

<hr />

<div class="card" style="width: 28rem;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Category: @Model.CategoryName</p>
        <p>Created on: @Model.CreatedOn.ToString("f")</p>
        <p>Preparation time: @Model.PreparationTime.Minutes min.</p>
        <p>Cooking time: @Model.CookingTime.Minutes min.</p>
        <p>Portions count: @Model.PortionsCount</p>
        <p>Recipes in this category: @Model.CategoryRecipesCount</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item fw-semibold">Ingredients:</li>
        @foreach (var ingredient in Model.Ingredients)
        {
            <li class="list-group-item">@ingredient.IngredientName @ingredient.Quantity</li>
        }

        <li class="list-group-item">Instructions: @Model.Instructions</li>
    </ul>
</div>  